{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">Edit Category</h1>

  <form method="POST" action="/categories/{{category.id}}/update">
    {% include "inventory/categories/_form.html.j2" %}

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Update Category" class="button is-link">
      </div>
      <div class="control">
        <a href="/categories" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
