{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">Listing Series</h1>

  <div class="field is-grouped">
    <p class="control">
      <a href="/series/new" class="button is-primary">New Series</a>
    </p>
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      {% for series in series_list %}
        <tr>
          <td><a href="/series/{{series.id}}">{{ series.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
