{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">New Game</h1>

  <form method="POST" action="/games/create">
    {% include "inventory/games/_form.html.j2" %}

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Create Game" class="button is-link">
      </div>
      <div class="control">
        <a href="/games" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
