/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Environment configuration is per-machine and not versioned.
# `.env.example` is used for general explanation
.env

# Cache files
*.DS_Store

# User-generated asset content (stylesheets, js, etc.)
/public/custom_assets/
