{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="column is-two-fifths">
    <div class="card">
      <div class="card-content">
        <p class="subtitle is-6">
          User:
          <a href="/users/{{organizer.user.id}}">
            {{organizer.user.name}}
          </a>
        </p>
        <p class="subtitle is-6">
          Event:
          <a href="/events/{{organizer.event.id}}">
            {{organizer.event.name}}
          </a>
        </p>
      </div>

      <footer class="card-footer">
        <a href="/organizers/{{organizer.id}}/edit" class="card-footer-item">
          Edit
        </a>
      </footer>
    </div>
  </div>
{% endblock %}
