:root {
  --background-color: #e7e7e7;
  --background-color--light: #f7f7f7;
  --background-color--navbar: #666;

  --color: #363636;
  --color--navbar: #ccc;

  --border-color--light: #ddd;
  --border-color--navbar: #444;

  --font-size: 14px;
  --font-size--large: 24px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--brand: var(--font-family);

  --1u: 4px;
  --2u: 8px;
  --3u: 12px;
  --4u: 16px;
  --8u: 32px;
}


/* Dragula base style */
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}

.run {
  padding: 0.7em 1em;
  background-color: #fff;
  border: 1px solid var(--border-color--light);
  border-radius: 7px;
}

.run .game-name {
  font-weight: 700;
  color: var(--color);
  font-size: 1em;
}

.run .time {
  text-align: right;
}



.horaro-schedule {
  width: 100%;
  display: block;
}

.horaro-schedule__date-row {
  border-bottom: 1px solid var(--border-color--navbar);
  font-size: 1.25rem;
  margin-top: 1rem;
}

.horaro-schedule-entry {
}

.horaro-schedule-entry__game {
  font-weight: bold;
  display: block;
}

.horaro-schedule-entry__category {

}

.horaro-schedule-entry__runners {
  font-weight: bold;
  display: block;
}

.horaro-schedule-entry__estimate {

}

.horaro-schedule-entry__start-time {

}
