<html>
  <head>
    <link rel="stylesheet" href="css/bulma.min.css">
  </head>

  <body>
    <section class="hero is-primary is-fullheight">
      <div class="container">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              404 Not Found
            </h1>
            <h2 class="subtitle">
              The path `{{resource}}` could not be found.
            </h2>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
