{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">Edit Event</h1>

  <form method="POST" action="/events/{{event.id}}/update">
    {% include "events/events/_form.html.j2" %}

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Update Event" class="button is-link">
      </div>
      <div class="control">
        <a href="/events" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
