{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">Listing Organizations</h1>

  <div class="field is-grouped">
    <p class="control">
      <a href="/organizations/new" class="button is-primary">New Organization</a>
    </p>
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
      </tr>
    </thead>

    <tbody>
      {% for org in orgs %}
        <tr>
          <td><a href="/organizations/{{org.id}}">{{ org.name }}</a></td>
          <td><a href="/users/{{org.owner.id}}">{{ org.owner.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
