{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="column is-two-fifths">
    <div class="card">
      <div class="card-content">
        <p class="title is-4">{{org.name}}</p>
        <p class="subtitle is-6">
          Owned by
          <a href="/users/{{org.owner_id}}">
            {{org.owner.name}}
          </a>
        </p>
      </div>

      <footer class="card-footer">
        <a href="/organizations/{{org.id}}/edit" class="card-footer-item">
          Edit
        </a>
      </footer>
    </div>
  </div>
{% endblock %}
