{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">Listing Games</h1>

  <div class="field is-grouped">
    <p class="control">
      <a href="/games/new" class="button is-primary">New Game</a>
    </p>
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
      </tr>
    </thead>

    <tbody>
      {% for game in games %}
        <tr>
          <td><a href="/games/{{game.id}}">{{ game.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
