{% extends "layouts/main.html.j2" %}

{% block main %}
  <div class="columns">
    <div class="column">
      <div class="content">
        <p>{{event.description}}</p>
      </div>
    </div>
  </div>
{% endblock %}
