<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="game">Game</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <select name="game_id">
            {% for game in games %}
              <option
                value="{{game.id}}"
                {% if game.id == submission.game_id %}
                  selected
                {% endif %}
              >{{game.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="category">Category</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <input class="input" type="text" name="category_name" required value="{{submission.category_name|d('')}}" placeholder="Any% race">
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="estimate">Estimate</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <input class="input" type="text" name="estimate" required value="{{submission.estimate}}" placeholder="00:00:00">
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="pb">PB</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <input class="input" type="text" name="pb" value="{{submission.pb}}" placeholder="00:00:00">
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="video_link">Video Link</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <input class="input" type="text" name="video_link" value="{{submission.video_link|d('')}}" placeholder="pb vod, marathon run, etc. (optional)">
      </div>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="description">Comments</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <textarea class="textarea" name="description" placeholder="Do you want to race with someone? Anything else we should know?&#10;Comments are not publicly visible.">{{submission.description|d('')}}</textarea>
      </div>
    </div>
  </div>
</div>
