<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Event name" value="{{event.name|d('')}}">
  </div>
</div>
