{% extends "layouts/organizer.html.j2" %}

{% block scripts %}
  <script src="/js/dragula.min.js"></script>
  <script src="/js/horsey.min.js"></script>
{% endblock %}

{% block main %}
  <h1 class="title is-2">Create a Schedule</h1>

  <div id="scheduler-container"></div>
{% endblock %}


{% block postscripts %}
  <script src="/js/scheduler.js"></script>
{% endblock %}
