<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="/">{{conn.event.name}}</a>
      <a class="navbar-item is-hidden-desktop" href="{{conn.event.twitch}}" target="_blank" rel="noopener"><i class="fab fa-twitch"></i></a>
      <a class="navbar-item is-hidden-desktop" href="{{conn.event.discord}}" target="_blank" rel="noopener"><i class="fab fa-discord"></i></a>
      <a class="navbar-item is-hidden-desktop" href="{{conn.event.twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>

      <a role="button" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-hidden-touch is-hidden-desktop-only" href="{{conn.event.twitch}}" target="_blank" rel="noopener"><i class="fab fa-twitch"></i></a>
        <a class="navbar-item is-hidden-touch is-hidden-desktop-only" href="{{conn.event.discord}}" target="_blank" rel="noopener"><i class="fab fa-discord"></i></a>
        <a class="navbar-item is-hidden-touch is-hidden-desktop-only" href="{{conn.event.twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>

        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">Submissions</p>

          <div class="navbar-dropdown is-boxed">
            {% if conn.event.state == "accepting_submissions" %}
              <a class="navbar-item" href="/submit">Submit a Run</a>
            {% endif %}
            <a class="navbar-item" href="/submissions">See All</a>
          </div>
        </div>

        {% if conn.user_is_organizer %}
          <div class="navbar-item has-dropdown is-hoverable">
            <p class="navbar-link">Organizer</p>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/organizer/submissions">Submissions</a>
              <a class="navbar-item" href="/organizer/schedules">Schedules</a>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="navbar-end">
        {% if conn.session %}
          <div class="navbar-item has-dropdown is-hoverable">
            <p class="navbar-link">
              {% if conn.user_is_organizer %}
                <i class="fas fa-wrench fa-fw" title="You are an organizer of this event"></i>
                &nbsp;
              {% endif %}
              {{conn.user.name}}
            </p>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/profile/edit">Edit Account</a>
              <a class="navbar-item" href="/logout">Logout</a>
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="/login">Login</a>
          <a class="navbar-item" href="/profile/new">Signup</a>
        {% endif %}
      </div>
    </div>
  </div>


  <script type="text/javascript">
    const burger = document.querySelector('.navbar .navbar-burger');
    const menu = document.querySelector('.navbar .navbar-menu');
    burger.addEventListener('click', function(evt) {
      burger.classList.toggle('is-active');
      menu.classList.toggle('is-active');
    })
  </script>
</nav>
