<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="/">Spyrothon</a>
      <a role="button" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://twitch.tv/spyrothon" target="_blank" rel="noopener"><i class="fab fa-twitch"></i></a>
        <a class="navbar-item" href="https://twitch.tv/spyrothon" target="_blank" rel="noopener"><i class="fab fa-discord"></i></a>
        <a class="navbar-item" href="https://twitter.com/spyrothon" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>

        <p class="navbar-item">About</p>
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">Submissions</p>

          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/submit">Submit</a>
            <a class="navbar-item" href="/submissions">See all</a>
          </div>
        </div>

      </div>

      <div class="navbar-end">
        {% if conn.session %}
          <div class="navbar-item has-dropdown is-hoverable">
            <p class="navbar-link">
              {{conn.user.name}}
            </p>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/profile/edit">Edit Account</a>
              <a class="navbar-item" href="/logout">Logout</a>
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="/login">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
