<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>

  <body>
    {% include "layouts/_navbar.html.j2" %}

    <section class="hero is-small is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Spyrothon 4
          </h1>
          <h2 class="subtitle">
            November 17th-18th 2018
          </h2>
        </div>
      </div>
    </section>


    <section class="section">
      <main>
        <div class="container">
          {% block main %}{% endblock %}
        </div>
      </main>
    </section>
  </body>
</html>
