<!doctype html>
<html>
  <head>
    <title>{{conn.event.site_title|d(conn.event.name)}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/css/public.css">

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    {% block scripts %}{% endblock %}
  </head>

  <body>
    {% include "layouts/_navbar.html.j2" %}

    <section class="hero is-small is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="level">
            <div class="level-left">
              <div>
                <h1 class="title">
                  {{conn.event.name}}
                </h1>
                <h2 class="subtitle">
                  November 17th-18th 2018
                </h2>
              </div>
            </div>

            <div class="level-right">
              {% block hero_content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="section">
      <main>
        <div class="container">
          {% block main %}{% endblock %}
        </div>
      </main>
    </section>
  </body>

  {% block postscripts %}{% endblock %}
</html>
