<!doctype html>
<html>
  <head>
    <title>{{conn.event.site_title|d(conn.event.name)}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    {% block scripts %}{% endblock %}
  </head>

  <body>
    {% include "layouts/_navbar.html.j2" %}

    <section class="section">
      <main>
        <div class="container">
          {% block main %}{% endblock %}
        </div>
      </main>
    </section>
  </body>

  {% block postscripts %}{% endblock %}
</html>
