<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <p class="navbar-item has-text-weight-bold">Marathons</a>
      <a role="button" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/users">Users</a>
        <a class="navbar-item" href="/organizations">Organizations</a>
        <a class="navbar-item" href="/events">Events</a>
        <a class="navbar-item" href="/series">Series</a>
        <a class="navbar-item" href="/games">Games</a>
        <a class="navbar-item" href="/categories">Categories</a>
      </div>

      <div class="navbar-end">
        {% if conn.session %}
          <div class="navbar-item has-dropdown is-hoverable">
            <p class="navbar-link">
              {{conn.user.name}}
            </p>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/profile/edit">Edit Account</a>
              <a class="navbar-item" href="/logout">Logout</a>
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="/login">Login</a>
          <a class="navbar-item" href="/profile/new">Signup</a>
        {% endif %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const burger = document.querySelector('.navbar .navbar-burger');
    const menu = document.querySelector('.navbar .navbar-menu');
    burger.addEventListener('click', function(evt) {
      burger.classList.toggle('is-active');
      menu.classList.toggle('is-active');
    })
  </script>
</nav>

